.chatroom-container {
  border: 1px solid black;
  padding: 20px;
}
.message {
  margin-top: 5px;
}
.flash-message { 
  color: red;
  padding: 5px;
}
.send-message-input {
  width: 30%;
  margin-top: 40px;
  border: 2px solid rgb(7, 235, 37);
}